Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-filename: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$|dummy.cpp
  cpp-include: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-header-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$

Remove some raw epetra export and import calls
  src/core/comm/src/4C_comm_utils.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/mortar/4C_mortar_matrix_transform.cpp
  src/mortar/4C_mortar_utils.cpp
  src/sti/4C_sti_monolithic.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Cast to void pointer during packing of triv_copy_t
  src/core/comm/src/4C_comm_pack_buffer.hpp
  src/core/linalg/tests/4C_linalg_tensor_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Docs: tools page with info on related projects
  doc/documentation/src/tools/tools.rst
Due: none

Refactor: docs + renaming in beaminteraction
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix: Failing test from #891
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad_kl_shell.4C.yaml
Due: non-ascii-chars

Remove an outdated throw-catch workaround
  src/core/utils/src/functions/4C_utils_function.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Input: remove redefinition of node counts
  src/ale/4C_ale_ale2.cpp
  src/ale/4C_ale_ale3.cpp
  src/art_net/4C_art_net_artery.cpp
  src/beam3/4C_beam3_euler_bernoulli.cpp
  src/beam3/4C_beam3_kirchhoff.cpp
  src/beam3/4C_beam3_reissner.cpp
  src/bele/4C_bele_bele3.cpp
  src/bele/4C_bele_vele3.cpp
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/io/src/4C_io_gridgenerator.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/fluid_ele/4C_fluid_ele.cpp
  src/fluid_ele/4C_fluid_ele_xwall.cpp
  src/lubrication/src/4C_lubrication_ele.cpp
  src/membrane/4C_membrane_eletypes.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele.cpp
  src/red_airways/4C_red_airways_acinus.cpp
  src/red_airways/4C_red_airways_airway.cpp
  src/red_airways/4C_red_airways_interacinardep.cpp
  src/rigidsphere/4C_rigidsphere.cpp
  src/scatra_ele/4C_scatra_ele.cpp
  src/shell7p/4C_shell7p_ele.cpp
  src/shell7p/4C_shell7p_ele_scatra.cpp
  src/shell_kl_nurbs/src/4C_shell_kl_nurbs.cpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_p1.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
  src/thermo/src/element/4C_thermo_element.cpp
  src/torsion3/4C_torsion3.cpp
  src/truss3/4C_truss3.cpp
  src/w1/4C_w1.cpp
  src/w1/4C_w1_nurbs.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Improve legacy topology parsing
  src/core/io/src/4C_io_input_file_utils.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Generalize data types supported in Exporter
  src/core/comm/src/4C_comm_exporter.cpp
  src/core/comm/src/4C_comm_exporter.hpp
  src/stru_multi/4C_stru_multi_microstatic.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove DbcHandling option from contact conditions
  doc/documentation/src/analysis_guide_templates/boundaryconditions.rst.j2
  doc/documentation/src/analysis_guide_templates/contact.rst.j2
  src/contact/4C_contact_strategy_factory.cpp
  src/contact/4C_contact_utils.cpp
  src/contact/4C_contact_utils.hpp
  src/inpar/4C_inpar_mortar.cpp
  src/inpar/4C_inpar_mortar.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Some small improvements to tensor
  src/core/linalg/src/dense/4C_linalg_tensor.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove option every_timestep from mesh relocation
  src/coupling/src/adapter/4C_coupling_adapter_mortar.cpp
  src/inpar/4C_inpar_mortar.cpp
  src/inpar/4C_inpar_mortar.hpp
  src/structure/4C_structure_timint.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_meshtying.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Add error to old time integration
  src/structure/4C_structure_timint.cpp
  tests/input_files/solid_ele_nurbs27_Old_Static_multielement.4C.yaml
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Input: restructure metadata output
  apps/global_full/4C_global_full_main.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/global_data/4C_global_data_read.cpp
  src/global_data/4C_global_data_read.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Doc: recommendations for work on input files
  doc/documentation/src/analysis_guide_templates/preprocessing.rst
  doc/documentation/src/index.rst
  doc/documentation/src/tools/tools.rst
Due: none

Add JSON formatter to pre-commit
  .pre-commit-config.yaml
Due: non-ascii-chars

Update ryml to version 0.9.0
  cmake/configure/configure_ryml.cmake
Due: non-ascii-chars

Convert a few tests to JSON format
  tests/input_files/contact2D_patch_linstatic_new_struct.4C.json
  tests/input_files/contact2D_patch_linstatic_new_struct.4C.yaml
  tests/input_files/solid_ele_hex8_Standard_eas_full_stressout_2pk_strainout_gl.4C.json
  tests/input_files/solid_ele_hex8_Standard_eas_full_stressout_2pk_strainout_gl.4C.yaml
  tests/input_files/tsi_heatconvection_monolithic.4C.json
  tests/input_files/tsi_heatconvection_monolithic.4C.yaml
  tests/list_of_tests.cmake
Due: non-ascii-chars

Clean up unused and complicated code for condition
  src/core/fem/src/condition/4C_fem_condition.cpp
  src/core/fem/src/condition/4C_fem_condition.hpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.hpp
  src/core/fem/src/discretization/4C_fem_discretization_conditions.cpp
  src/global_data/4C_global_data_read.cpp
  src/global_legacy_module/4C_global_legacy_module_validconditions.cpp
  src/global_legacy_module/4C_global_legacy_module_validconditions.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

InputSpec: write validators to metadata
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_spec_validators.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Adjust tolerance of FSI ga-ga test
  tests/input_files/fsi_fp_mono_ss_ga_ga.4C.yaml
Due: non-ascii-chars

Refactor: Move DBC monitor input to physics
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc_input.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc_input.hpp
  src/structure_new/src/utils/4C_structure_new_timint_basedataio_monitor_dbc.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Refactor: Move beam output input to physics
  src/beam3/4C_beam3_discretization_runtime_output_input.cpp
  src/beam3/4C_beam3_discretization_runtime_output_input.hpp
  src/beam3/4C_beam3_discretization_runtime_output_params.hpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/inpar/4C_inpar_IO_runtime_output_structure_beams.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Refactor: Move binning strategy input to core
  src/beam3/4C_beam3_discretization_runtime_output_input.cpp
  src/beam3/4C_beam3_discretization_runtime_output_input.hpp
  src/core/binstrategy/4C_binstrategy_input.cpp
  src/core/binstrategy/4C_binstrategy_input.hpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.cpp
  src/structure_new/src/utils/4C_structure_new_timint_basedataio_monitor_dbc.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Update output in porofluid_pressure_based
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Move spring dashpot output to vtk based
  src/constraint/4C_constraint_springdashpot_manager.cpp
  src/inpar/4C_inpar_io.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_springdashpot.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_springdashpot.hpp
  tests/input_files/ref/spring_dashpot_sohex8_struct_bc_new_struc-vtk/xxx-structure-dashpot.pvd
  tests/input_files/ref/spring_dashpot_sohex8_struct_bc_new_struc-vtk/xxx-vtk-files/structure-dashpot-00001-0.vtu
  tests/input_files/ref/spring_dashpot_sohex8_struct_bc_new_struc-vtk/xxx-vtk-files/structure-dashpot-00001-1.vtu
  tests/input_files/ref/spring_dashpot_sohex8_struct_bc_new_struc-vtk/xxx-vtk-files/structure-dashpot-00001.pvtu
  tests/input_files/solid_runtime_pyramid5.4C.yaml
  tests/input_files/spring_dashpot_sohex8_struct_bc_new_struc.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Refactor terminal units in ReducedLung
  src/reduced_lung/4C_reduced_lung_helpers.cpp
  src/reduced_lung/4C_reduced_lung_helpers.hpp
  src/reduced_lung/4C_reduced_lung_main.cpp
  src/reduced_lung/4C_reduced_lung_terminal_unit.cpp
  src/reduced_lung/4C_reduced_lung_terminal_unit.hpp
  src/reduced_lung/tests/4C_reduced_lung_terminal_unit_test.cpp
  src/reduced_lung/tests/CMakeLists.txt
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Add runtime csv-writer for domain integrals
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove dat file conversion from framework tests
  cmake/functions/four_c_testing_functions.cmake
  tests/list_of_tests.cmake
Due: non-ascii-chars

Make .dat input an error and force conversion
  apps/global_full/4C_global_full_control.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Redistribute discret for point coupling conditions
  src/adapter/4C_adapter_str_structure_new.cpp
  src/core/fem/src/condition/4C_fem_condition_point_coupling_redistribution.cpp
  src/core/fem/src/condition/4C_fem_condition_point_coupling_redistribution.hpp
  src/core/fem/src/dofset/4C_fem_dofset.cpp
  src/core/fem/src/dofset/4C_fem_dofset.hpp
  tests/input_files/sohex8_distributed-pointcoupling.4C.yaml
  tests/input_files/sohex8_two-distributed-pointcouplings.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Refactor: Move artery input to physics
  src/art_net/4C_art_net_artery.cpp
  src/art_net/4C_art_net_artery.hpp
  src/art_net/4C_art_net_artery_ele_factory.cpp
  src/art_net/4C_art_net_artery_ele_factory.hpp
  src/art_net/4C_art_net_artery_evaluate.cpp
  src/art_net/4C_art_net_artery_input.cpp
  src/art_net/4C_art_net_dyn_drt.cpp
  src/art_net/4C_art_net_impl_stationary.cpp
  src/art_net/4C_art_net_impl_stationary.hpp
  src/art_net/4C_art_net_input.cpp
  src/art_net/4C_art_net_input.hpp
  src/art_net/4C_art_net_timint.cpp
  src/art_net/4C_art_net_timint.hpp
  src/art_net/4C_art_net_utils.cpp
  src/art_net/4C_art_net_utils.hpp
  src/global_legacy_module/4C_global_legacy_module_validconditions.cpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/inpar/4C_inpar_bio.cpp
  src/inpar/4C_inpar_bio.hpp
  src/inpar/4C_inpar_scatra.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_input.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_artery.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix: rename meshpy to beamme
  doc/documentation/src/tools/tools.rst
  tests/input_files/embeddedmesh_2d_hertzian_contact.yaml
  unittests/geometry_pair/4C_geometry_pair_line_to_volume_segmentation_geometry_functions_test.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Adapt value of fsi result test
  tests/input_files/fsi_fp_mono_ss_ga_ga.4C.yaml
Due: non-ascii-chars

Fix: Update test file check for yaml/json files
  .pre-commit-config.yaml
  utilities/four_c_utils/src/four_c_utils/check_test_files.py
Due: non-ascii-chars

YAML: quoted values can only be strings
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Add Range validator to JSON schema
  utilities/create_json_schema.py
  utilities/metadata_utils.py
Due: non-ascii-chars
