Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename:
  name: C++ file names
  description: Check that all C++ files have the correct file name
  language: system
  entry: utilities/python-venv/bin/check-filenames
  require_serial: true

cpp-include:
  name: C++ includes
  description: Check that all C++ files have correct includes
  language: system
  entry: utilities/python-venv/bin/check-includes
  require_serial: true

cpp-header-guard:
  name: Header guards
  description: Check that all C++ files have the correct header guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Further fixing
  src/core/linalg/src/sparse/4C_linalg_transfer.cpp
  src/core/linalg/src/sparse/4C_linalg_transfer.hpp
  src/mortar/4C_mortar_matrix_transform.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Rename maps
  src/core/linalg/src/sparse/4C_linalg_transfer.cpp
  src/core/linalg/src/sparse/4C_linalg_transfer.hpp
  src/fluid_xfluid/4C_fluid_xfluid_fluid.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Minor correction
  src/core/linalg/src/sparse/4C_linalg_transfer.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

InputSpec can store parsed values to structs
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_spec_storage.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Rework set_default_value in InputSpec
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove unnecessary headers
  src/constraint/4C_constraint_manager.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_volumetric_surfaceFlow_condition.cpp
  src/fluid_xfluid/4C_fluid_xfluid_state.cpp
  src/red_airways/4C_red_airways_implicitintegration.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Modify header declaration
  src/mortar/4C_mortar_matrix_transform.cpp
  src/mortar/4C_mortar_matrix_transform.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Extend some error message in exodus reading
  src/core/io/src/4C_io_exodus.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Fix failing asan for benchmark tests
  cmake/functions/four_c_auto_define_benchmark_tests.cmake
  tests/benchmark_tests/4C_benchmark_tests_main.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Clean up artery coupling-pair
  src/inpar/4C_inpar_bio.hpp
  src/inpar/4C_inpar_scatra.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_input.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_defines.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodetopoint.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_artery.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Emit internal all_ofs to metadata
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  utilities/metadata_utils.py
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Add verbosity parameter for reading exodus II file
  src/core/io/src/4C_io_exodus.cpp
  src/core/io/src/4C_io_exodus.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/tests/4C_io_exodus_test.cpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  tests/tutorials/tutorial_battery.4C.yaml
  tests/tutorials/tutorial_contact_3d.4C.yaml
  tests/tutorials/tutorial_fsi_2d.4C.yaml
  tests/tutorials/tutorial_fsi_3d.4C.yaml
  tests/tutorials/tutorial_solid.4C.yaml
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Implement some small improvements to tensor class
  src/core/linalg/src/dense/4C_linalg_symmetric_tensor.hpp
  src/core/linalg/src/dense/4C_linalg_symmetric_tensor_eigen.hpp
  src/core/linalg/src/dense/4C_linalg_tensor.hpp
  src/core/linalg/src/dense/4C_linalg_tensor_generators.hpp
  src/core/linalg/src/dense/4C_linalg_tensor_internals.hpp
  src/core/linalg/src/dense/4C_linalg_tensor_matrix_conversion.hpp
  src/core/linalg/tests/4C_linalg_symmetric_tensor_eigen_test.cpp
  src/core/linalg/tests/4C_linalg_symmetric_tensor_operations_test.cpp
  src/core/linalg/tests/4C_linalg_symmetric_tensor_test.cpp
  src/core/linalg/tests/4C_linalg_tensor_generators_test.cpp
  src/core/linalg/tests/4C_linalg_tensor_matrix_conversion_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Add a test for selection with structs
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Allow to store selections in structs
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_spec_storage.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Store scatra magnet function data in struct
  src/scatra/4C_scatra_functions.cpp
  src/scatra/4C_scatra_functions.hpp
  tests/input_files/scatra_2D_external_force_magnet.4C.yaml
  unittests/scatra/4C_scatra_functions_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Account for internal variables in multiscale
  src/core/io/src/4C_io.cpp
  src/core/io/src/4C_io.hpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_element_actions.hpp
  src/mat/4C_mat_micromaterial_evaluate.cpp
  src/mat/4C_mat_micromaterialgp_static.cpp
  src/mat/4C_mat_micromaterialgp_static.hpp
  src/solid_3D_ele/4C_solid_3D_ele.hpp
  src/stru_multi/4C_stru_multi_microstatic.cpp
  src/stru_multi/4C_stru_multi_microstatic.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_multiscale.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  tests/input_files/sohex8_multiscale_macro_eas.4C.yaml
  tests/input_files/sohex8_multiscale_macro_plastic.4C.yaml
  tests/input_files/sohex8_multiscale_micro1.mat.4C.yaml
  tests/input_files/sohex8_multiscale_micro_eas.mat.4C.yaml
  tests/input_files/sohex8_multiscale_micro_plastic.mat.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Modify doxygen comments for problemtype enum
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_element_actions.hpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_problem_type.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove non-const reference members from BaseDataSDyn
  src/structure_new/src/4C_structure_new_factory.cpp
  src/structure_new/src/4C_structure_new_timint_base.cpp
  src/structure_new/src/4C_structure_new_timint_base.hpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.hpp
  src/structure_new/src/4C_structure_new_timint_basedatasdyn.hpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove various mentions of dat files
  apps/create_rtdfiles/4C_create_rtdfiles_utils.hpp
  cmake/functions/four_c_testing_functions.cmake
  doc/documentation/src/analysis_guide/4Csimulation.rst
  doc/documentation/src/analysis_guide/preprocessing.rst
  doc/documentation/src/developer_guide/debugging_profiling.rst
  doc/documentation/src/installation/installation.rst
  docker/prebuilt_4C/README.md
  src/beamcontact/4C_beamcontact_beam3contact_octtree.cpp
  src/core/comm/src/4C_comm_utils.hpp
  src/core/fem/src/dofset/4C_fem_dofset_definedmapping_wrapper.hpp
  src/core/fem/src/dofset/4C_fem_dofset_merged_wrapper.hpp
  src/core/utils/src/functions/4C_utils_symbolic_expression.cpp
  tests/input_files/sohex8_multiscale_macro_eas.4C.yaml
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix spacing
  src/core/fem/src/discretization/4C_fem_discretization_fillcomplete.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Fix issue in structure new solver factory
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Cleanup of some solver related files
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.hpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Input field InputSpec to read local parameters
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_input_field_test.cpp
  src/core/io/tests/test_files/input_field/stiffness_input_field.json
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Adapt to changes in selection
  src/scatra/4C_scatra_functions.cpp
  tests/input_files/scatra_2D_external_force_magnet.4C.yaml
  utilities/create_json_schema.py
  utilities/metadata_utils.py
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

InputSpecBuilders::selection input improvement
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_spec_storage.hpp
  src/core/io/tests/4C_io_input_input_field_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Hint at parameter<Enum> instead of deprecated_selection
  src/core/io/src/4C_io_input_spec_builders.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Replace deprecated_selection with parameter<Enum>
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_levelset.cpp
  src/inpar/4C_inpar_particle.cpp
  src/inpar/4C_inpar_plasticity.cpp
  src/inpar/4C_inpar_solver_nonlin.cpp
  src/inpar/4C_inpar_structure.cpp
  src/inpar/4C_inpar_xfem.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_input.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_input.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_input.cpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Extend installation section of the documentation
  doc/documentation/src/developer_guide/developer_cmake.rst
  doc/documentation/src/installation/installation.rst
Due: none

Bugfix in input_field_callback
  src/core/io/src/4C_io_input_spec_builders.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Clean derived LineSearchBased solver interface
  src/solver_nonlin_nox/4C_solver_nonlin_nox_aux.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_aux.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_linesearchbased.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_linesearchbased.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_prepostop_generic.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Delete derived SingleStep class
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_factory.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_singlestep.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_singlestep.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Allow to store input_field to structs
  src/core/io/src/4C_io_input_field.hpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_field_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix partial json schema name
  apps/global_full/CMakeLists.txt
  utilities/create_json_schema.py
Due: non-ascii-chars

Implement SVD for tensors
  src/core/linalg/src/dense/4C_linalg_tensor_svd.hpp
  src/core/linalg/tests/4C_linalg_tensor_svd_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-filename: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$|dummy.cpp
  cpp-include: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-header-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
