Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-filename: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$|dummy.cpp
  cpp-include: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-header-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$

Change mixture tests to yaml format
  tests/input_files/mixture_elast_hyper.4C.yaml
  tests/input_files/mixture_elast_hyper.dat
  tests/input_files/mixture_prestress_arc_hex8.4C.yaml
  tests/input_files/mixture_prestress_arc_hex8.dat
  tests/input_files/mixture_prestress_arc_tet10.4C.yaml
  tests/input_files/mixture_prestress_arc_tet10.dat
  tests/input_files/mixture_prestress_arc_tet4.4C.yaml
  tests/input_files/mixture_prestress_arc_tet4.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Change prestress input to yaml file
  tests/input_files/prestress_new.4C.yaml
  tests/input_files/prestress_new.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Change solid nodal fiber files to yaml
  tests/input_files/solid_nodal_fiber.4C.yaml
  tests/input_files/solid_nodal_fiber.dat
  tests/input_files/solid_nodal_fiber_eletypes.4C.yaml
  tests/input_files/solid_nodal_fiber_eletypes.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Change spring dashpot files to yaml
  tests/input_files/spring_dashpot_prestress_new.4C.yaml
  tests/input_files/spring_dashpot_prestress_new.dat
  tests/input_files/spring_dashpot_prestress_old.4C.yaml
  tests/input_files/spring_dashpot_prestress_old.dat
  tests/input_files/spring_dashpot_sohex8_new.4C.yaml
  tests/input_files/spring_dashpot_sohex8_new.dat
  tests/input_files/spring_dashpot_sohex8_old.4C.yaml
  tests/input_files/spring_dashpot_sohex8_old.dat
  tests/input_files/spring_dashpot_sohex8_prestress_new.4C.yaml
  tests/input_files/spring_dashpot_sohex8_prestress_new.dat
  tests/input_files/spring_dashpot_sohex8_prestress_old.4C.yaml
  tests/input_files/spring_dashpot_sohex8_prestress_old.dat
  tests/input_files/spring_dashpot_sohex8_struct_bc_new_struc.4C.yaml
  tests/input_files/spring_dashpot_sohex8_struct_bc_new_struc.dat
  tests/input_files/spring_dashpot_struct_bc.4C.yaml
  tests/input_files/spring_dashpot_struct_bc.dat
  tests/input_files/spring_dashpot_struct_bc_curnormal.4C.yaml
  tests/input_files/spring_dashpot_struct_bc_curnormal.dat
  tests/input_files/spring_dashpot_struct_nonlinear_bc.4C.yaml
  tests/input_files/spring_dashpot_struct_nonlinear_bc.dat
  tests/input_files/spring_dashpot_struct_temporal_bc.4C.yaml
  tests/input_files/spring_dashpot_struct_temporal_bc.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Remove post ensight structure from cmake
  cmake/functions/four_c_testing_functions.cmake
  tests/post_processing_test/casefile_reader.py
  tests/post_processing_test/datfile_reader.py
  tests/post_processing_test/ensight_comparison.py
  tests/post_processing_test/geometry_reader.py
  tests/post_processing_test/readutils.py
  tests/post_processing_test/variable_reader.py
Due: non-ascii-chars

Implement wrapper for Epetra import
  src/beamcontact/4C_beamcontact_beam3contact_octtree.cpp
  src/cardiovascular0d/4C_cardiovascular0d_mor_pod.cpp
  src/cardiovascular0d/4C_cardiovascular0d_mor_pod.hpp
  src/constraint/4C_constraint_manager.cpp
  src/constraint/4C_constraint_multipointconstraint3penalty.cpp
  src/constraint/4C_constraint_multipointconstraint3penalty.hpp
  src/constraint/4C_constraint_penalty.cpp
  src/constraint/4C_constraint_penalty.hpp
  src/core/comm/src/4C_comm_utils.cpp
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/dofset/4C_fem_dofset.cpp
  src/core/linalg/src/sparse/4C_linalg_graph.hpp
  src/core/linalg/src/sparse/4C_linalg_krylov_projector.cpp
  src/core/linalg/src/sparse/4C_linalg_mapextractor.cpp
  src/core/linalg/src/sparse/4C_linalg_mapextractor.hpp
  src/core/linalg/src/sparse/4C_linalg_multi_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_transfer.cpp
  src/core/linalg/src/sparse/4C_linalg_transfer.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/coupling/src/adapter/4C_coupling_adapter_mortar.cpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.cpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.hpp
  src/fsi/src/utils/4C_fsi_utils.cpp
  src/post/4C_post_ensight_writer.cpp
  src/post/4C_post_ensight_writer_nurbs.cpp
  src/sti/4C_sti_monolithic.cpp
  src/stru_multi/4C_stru_multi_microstatic.cpp
  src/stru_multi/4C_stru_multi_microstatic.hpp
  src/stru_multi/4C_stru_multi_microstatic_service.cpp
  src/xfem/4C_xfem_discretization.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Add tensor comparison in unittests
  src/core/linalg/src/dense/4C_linalg_tensor_internals.hpp
  src/core/linalg/src/dense/4C_linalg_tensor_meta_utils.hpp
  src/core/linalg/tests/4C_linalg_tensor_test.cpp
  unittests/common/unittest_utils/4C_unittest_utils_assertions_test.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Increase number of test chunks for coverage report
  .github/workflows/coverage.yml
Due: non-ascii-chars

Implement printing of tensors
  src/core/linalg/src/dense/4C_linalg_tensor.hpp
  src/core/linalg/tests/4C_linalg_tensor_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Generalize dot and ddot product for tensors
  src/core/linalg/src/dense/4C_linalg_tensor.hpp
  src/core/linalg/src/dense/4C_linalg_tensor_internals.hpp
  src/core/linalg/tests/4C_linalg_tensor_operations_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Avoid running pre-commit hooks multiple times
  .pre-commit-config.yaml
Due: non-ascii-chars

Rework logic how to create all_ofs
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix a parser bug for one_ofs in dat style
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Always use internal all_of inside group/one_of
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix for all_of/one_of in json schema
  utilities/create_json_schema.py
Due: non-ascii-chars

First implementation of input validators
  src/core/io/src/4C_io_input_spec_validators.hpp
  src/core/io/tests/4C_io_input_spec_validators_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Use parameter validation in scatra magnet model
  src/scatra/4C_scatra_functions.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Add validation to InputSpecBuilders::parameter
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix non-ASCII character check
  .pre-commit-config.yaml
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  utilities/code_checks/check_non_ascii_chars
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Use -O3 for RELWITHDEBINFO
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Only clang-format may trim whitespace in C++ files
  .pre-commit-config.yaml
Due: non-ascii-chars

Change to runtime output for micro scale
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.cpp
  src/core/io/src/4C_io_discretization_visualization_writer_mesh.hpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_micromaterial.cpp
  src/mat/4C_mat_micromaterial.hpp
  src/mat/4C_mat_micromaterial_evaluate.cpp
  src/mat/4C_mat_micromaterialgp_static.cpp
  src/mat/4C_mat_micromaterialgp_static.hpp
  src/stru_multi/4C_stru_multi_microstatic.cpp
  src/stru_multi/4C_stru_multi_microstatic.hpp
  src/stru_multi/4C_stru_multi_microstatic_npsupport.cpp
  src/stru_multi/4C_stru_multi_microstatic_service.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_multiscale.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_multiscale.hpp
  tests/input_files/ref/sohex8_multiscale_macro-vtk/xxx_microdis3_el5_gp0-structure.pvd
  tests/input_files/ref/sohex8_multiscale_macro-vtk/xxx_microdis3_el5_gp0-vtk-files/structure-00003-0.vtu
  tests/input_files/ref/sohex8_multiscale_macro-vtk/xxx_microdis3_el5_gp0-vtk-files/structure-00003.pvtu
  tests/input_files/sohex8_multiscale_macro.4C.yaml
  tests/input_files/sohex8_multiscale_macro.dat
  tests/input_files/sohex8_multiscale_micro.mat
  tests/input_files/sohex8_multiscale_micro.mat.4C.yaml
  tests/input_files/sohex8_multiscale_micro1.mat
  tests/input_files/sohex8_multiscale_micro1.mat.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, input-files, non-ascii-chars

Add all history variables to (un)pack
  src/mat/4C_mat_plastic_VarConstUpdate.cpp
  src/mat/4C_mat_plasticdruckerprager.cpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/mat/4C_mat_plasticgtn.cpp
  src/mat/4C_mat_plasticlinelast.cpp
  src/mat/4C_mat_plasticnlnlogneohooke.cpp
  src/mat/4C_mat_robinson.cpp
  src/mat/4C_mat_thermoplastichyperelast.cpp
  src/mat/4C_mat_thermoplasticlinelast.cpp
  src/mat/4C_mat_viscoanisotropic.cpp
  src/mat/4C_mat_viscoelasthyper.cpp
  src/mat/4C_mat_visconeohooke.cpp
  src/mat/4C_mat_viscoplastic_no_yield_surface.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Add C++ concepts for MPI communication
  src/core/comm/src/4C_comm_mpi_utils.hpp
  src/core/comm/src/4C_comm_pack_buffer.hpp
  src/core/comm/src/4C_comm_pack_helpers.hpp
  src/core/comm/tests/4C_comm_mpi_utils_test.np3.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Rewrite matching and unused parameter detection
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  utilities/create_json_schema.py
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Change selection matching internals
  src/core/io/src/4C_io_input_spec_builders.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Improve output for validation
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Avoid get_condition in fluid_turbulence
  src/fluid_turbulence/4C_fluid_turbulence_boxfilter.cpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_cha.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Scalar interpolation after review
  src/core/linalg/src/dense/4C_linalg_utils_scalar_interpolation.cpp
  src/core/linalg/src/dense/4C_linalg_utils_scalar_interpolation.hpp
  src/core/linalg/tests/4C_linalg_utils_scalar_interpolation_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove various #defines of constants
  src/core/fem/src/general/utils/4C_fem_general_utils_fem_shapefunctions.hpp
  src/core/utils/src/numerics/4C_utils_clnwrapper.cpp
  src/core/utils/src/numerics/4C_utils_clnwrapper.hpp
  src/cut/4C_cut_kernel.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_cha.cpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/mat/4C_mat_plasticelasthyper.hpp
  src/mat/elast/4C_mat_elast_aniso_structuraltensor_strategy.cpp
  src/mat/elast/4C_mat_elast_aniso_structuraltensor_strategy.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Cleanup pbc
  src/core/fem/src/condition/4C_fem_condition_periodic.cpp
  src/core/fem/src/condition/4C_fem_condition_periodic.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Implement SymmetricTensor
  src/core/linalg/benchmark_tests/4C_linalg_symmetric_tensor_benchmark.cpp
  src/core/linalg/benchmark_tests/4C_linalg_tensor_benchmark.cpp
  src/core/linalg/src/dense/4C_linalg_symmetric_tensor.hpp
  src/core/linalg/src/dense/4C_linalg_tensor.hpp
  src/core/linalg/src/dense/4C_linalg_tensor_internals.hpp
  src/core/linalg/tests/4C_linalg_symmetric_tensor_operations_test.cpp
  src/core/linalg/tests/4C_linalg_symmetric_tensor_test.cpp
  unittests/common/unittest_utils/4C_unittest_utils_assertions_test.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

InputField class to supply element-wise parameters
  src/core/io/src/4C_io_input_field.hpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_muscle_combo.cpp
  src/mat/4C_mat_muscle_combo.hpp
  src/mat/4C_mat_muscle_utils.cpp
  src/mat/4C_mat_muscle_utils.hpp
  src/mixture/4C_mixture_rule_map.cpp
  src/mixture/4C_mixture_rule_map.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Refactor vector sum and replace methods
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

InputSpec can store parsed values to structs
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_spec_storage.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Add benchmark tests for solid elements
  CMakeLists.txt
  presets/docker/CMakePresets.json
  tests/benchmark_tests/4C_benchmark_tests_main.cpp
  tests/benchmark_tests/CMakeLists.txt
  tests/benchmark_tests/solid_3D_ele/4C_solid_3D_ele_evaluation_benchmark.cpp
  tests/benchmark_tests/solid_3D_ele/CMakeLists.txt
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Directly replace global values if possible
  src/core/comm/tests/4C_comm_utils_test.np3.cpp
  src/fluid/4C_fluid_timint_hdg.cpp
  src/fluid/4C_fluid_timint_hdg_weak_comp.cpp
  src/fluid/4C_fluid_timint_stat_hdg.cpp
  src/fluid_turbulence/4C_fluid_turbulence_hit_forcing.cpp
  src/fluid_turbulence/4C_fluid_turbulence_hit_initial_field.cpp
  src/fsi/src/utils/4C_fsi_utils.cpp
  src/scatra/4C_scatra_timint_hdg.cpp
  src/structure/4C_structure_timint.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Add import based on exporter
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/mortar/4C_mortar_matrix_transform.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars
