Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-filename: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$|dummy.cpp
  cpp-include: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-header-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$

Remove all raw epetra import calls
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/linalg/src/sparse/4C_linalg_transfer.cpp
  src/core/linalg/src/sparse/4C_linalg_transfer.hpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove python helpers superseded by pre-commit
  utilities/four_c_utils/src/four_c_utils/common_utils.py
Due: non-ascii-chars

Naming correction
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/linalg/src/sparse/4C_linalg_transfer.cpp
  src/core/linalg/src/sparse/4C_linalg_transfer.hpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove QHULL and CLN install paths
  presets/imcs/workstation/CMakePresets.json
Due: non-ascii-chars

Remove dat from InputFile
  apps/global_full/4C_global_full_main.cpp
  src/core/comm/src/4C_comm_utils.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/core/io/tests/test_files/cyclic_includes/cycle1.dat
  src/core/io/tests/test_files/cyclic_includes/cycle2.dat
  src/core/io/tests/test_files/has_includes/folder1/include1a.dat
  src/core/io/tests/test_files/has_includes/folder1/include1b.dat
  src/core/io/tests/test_files/has_includes/folder2/include2.dat.in
  src/core/io/tests/test_files/has_includes/folder3/include3.dat
  src/core/io/tests/test_files/has_includes/main.dat
  src/core/io/tests/test_files/test1.dat
  src/core/io/tests/test_files/yaml_includes/included.dat
  src/core/io/tests/test_files/yaml_includes/main.yaml
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Enable parsing of nested groups in documentation
  doc/documentation/python/include_yaml.py
Due: non-ascii-chars

Add GroupBase class
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group_base.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group_base.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Feat: add check for illegal enum names in input
  src/core/io/src/4C_io_input_types.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Replace base class of the groups
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_group.cpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_group.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_constraint_group.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_constraint_group.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_singlestep_group.cpp
  src/structure/4C_structure_timint_noxgroup.cpp
  src/structure/4C_structure_timint_noxgroup.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Modify interface of create_status_test()
  src/fsi/src/monolithic/4C_fsi_monolithic.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicstructuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicstructuresplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit_sp.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit_sp.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.hpp
  src/fsi/src/partitioned/4C_fsi_partitioned.cpp
  src/fsi/src/partitioned/4C_fsi_partitioned.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove obsolete Epetra::Group appearances
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_linearsystem_gcr.hpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_mpe.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linesearch_backtrack.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_singlestep_group.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_singlestep_group.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Clean comments
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group_base.hpp
  src/structure/4C_structure_timint_noxgroup.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Rename porofluid-elasticity-scatra tests
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_2_volfracs_mono_FD.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_external_force.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_haptotaxis.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_hyperthermia.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_linebased_artery_coupling_mono.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_linebased_artery_coupling_mono_GPTS.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_linebased_artery_coupling_mono_MP.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_linebased_artery_coupling_vessel_collapse.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_linebased_artery_coupling_vessel_collapse_free_hanging.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_mono_FD.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_nodal_artery_coupling_mono.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_nodal_artery_coupling_part.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_nodetopoint_artery_airway_coupling_mono.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_part.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_part_reaction.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_part_sequ.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_poromulti_mono.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_starting_dbc.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_tumor.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_2D_quad4_tumor_angiogenesis.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_hex8_2_volfracs_mono_FD.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_hex8_linebased_artery_coupling_mono_GPTS.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_hex8_linebased_artery_coupling_mono_network.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_hex8_linebased_artery_coupling_part_MP.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_hex8_linebased_artery_coupling_part_network.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_hex8_mono_FD.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_hex8_mono_tumor.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_hex8_nodetopoint_artery_airway_coupling_mono.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_tet10_nodetopoint_coupling_mono.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_tet4_linebased_artery_coupling_mono_network.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_scatra_3D_tet4_surfbased_artery_coupling_mono_network.4C.yaml
  tests/input_files/ref/porofluid_pressure_based_elast_scatra_2D_quad4_nodetopoint_artery_airway_coupling_mono-artery.pvd
  tests/input_files/ref/porofluid_pressure_based_elast_scatra_2D_quad4_tumor-porofluid.pvd
  tests/list_of_tests.cmake
Due: non-ascii-chars

Rename porofluid-elasticity tests
  doc/documentation/CMakeLists.txt
  tests/input_files/porofluid_pressure_based_elast_2D_quad4_3_fluids_2_volfrac_mono_FD.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_2D_quad4_linebased_artery_coupling_mono_MP.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_2D_quad4_mono.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_2D_quad4_mono_FD.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_2D_quad4_part.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_3D_hex27.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_3D_hex8_mono.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_3D_hex8_mono_FD.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_3D_hex8_part.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_3D_tet10_mono.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_3D_tet4.4C.yaml
  tests/input_files/porofluid_pressure_based_elast_3D_tet4_mono.4C.yaml
  tests/list_of_tests.cmake
Due: non-ascii-chars

Rename porofluid tests
  doc/documentation/src/analysis_guide_templates/functions.rst.j2
  tests/input_files/porofluid_pressure_based_2D_quad4.4C.yaml
  tests/input_files/porofluid_pressure_based_2D_quad4_4_fluids_1_volfrac.4C.yaml
  tests/input_files/porofluid_pressure_based_2D_quad4_FD.4C.yaml
  tests/input_files/porofluid_pressure_based_2D_quad4_linebased_artery_coupling.4C.yaml
  tests/input_files/porofluid_pressure_based_2D_quad4_linebased_artery_coupling_varying_radius.4C.yaml
  tests/input_files/porofluid_pressure_based_2D_quad4_nodal_artery_coupling.4C.yaml
  tests/input_files/porofluid_pressure_based_3D_hex8.4C.yaml
  tests/input_files/porofluid_pressure_based_3D_hex8_surfbased_artery_coupling.4C.yaml
  tests/input_files/porofluid_pressure_based_3D_tet10.4C.yaml
  tests/input_files/porofluid_pressure_based_3D_tet4.4C.yaml
  tests/list_of_tests.cmake
Due: non-ascii-chars

Disable BUILD_SHARED_LIBS in lnm cluster presets
  presets/lnm/cluster/CMakePresets.json
Due: non-ascii-chars

Remove some get_epetra_block_map calls
  src/cardiovascular0d/4C_cardiovascular0d_mor_pod.cpp
  src/contact/4C_contact_lagrange_strategy.cpp
  src/contact/4C_contact_meshtying_manager.cpp
  src/contact/4C_contact_noxinterface.cpp
  src/core/comm/src/4C_comm_utils.cpp
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/fem/src/discretization/4C_fem_discretization_partition.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_superconvergent_patch_recovery.cpp
  src/core/linalg/src/sparse/4C_linalg_map.hpp
  src/core/linalg/tests/4C_linalg_map_test.np2.cpp
  src/core/rebalance/src/4C_rebalance_binning_based.cpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/coupling/src/adapter/4C_coupling_adapter_converter.cpp
  src/coupling/src/adapter/4C_coupling_adapter_mortar.cpp
  src/coupling/src/adapter/4C_coupling_adapter_volmortar.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_fluidfluidmonolithic_fluidsplit_nonox.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.cpp
  src/post/4C_post_ensight_writer.cpp
  src/xfem/4C_xfem_discretization.cpp
  src/xfem/4C_xfem_xfield_field_coupling.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Refactor global_full
  apps/global_full/4C_global_full_control.cpp
  apps/global_full/4C_global_full_entrypoint_switch.cpp
  apps/global_full/4C_global_full_init_control.cpp
  apps/global_full/4C_global_full_init_control.hpp
  apps/global_full/4C_global_full_inp_control.cpp
  apps/global_full/4C_global_full_inp_control.hpp
  apps/global_full/4C_global_full_io.cpp
  apps/global_full/4C_global_full_io.hpp
  apps/global_full/4C_global_full_main.cpp
  apps/global_full/CMakeLists.txt
  cmake/functions/four_c_testing_functions.cmake
  src/core/comm/src/4C_comm_utils.cpp
  src/core/comm/src/4C_comm_utils.hpp
  src/core/comm/tests/4C_comm_utils_test.np3.cpp
  tests/input_files/sohex8_multiscale_macro.4C.yaml
  tests/input_files/sohex8_multiscale_macro_2micro.4C.yaml
  tests/input_files/sohex8_multiscale_macro_eas.4C.yaml
  tests/input_files/sohex8_multiscale_macro_plastic.4C.yaml
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Simplify ElementDefinition
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.hpp
  src/core/io/src/4C_io_gridgenerator.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/global_data/4C_global_data_read.cpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove inpar_material header
  src/fluid_ele/4C_fluid_ele_boundary_calc.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/inpar/4C_inpar_material.hpp
  src/mat/4C_mat_beam3r_plasticity.hpp
  src/mat/4C_mat_beam_elasthyper.hpp
  src/mat/4C_mat_beam_material_generic.hpp
  src/mat/4C_mat_fluidporo_singlephaseDof.hpp
  src/mat/4C_mat_material_factory.hpp
  src/mat/4C_mat_muscle_combo.cpp
  src/mat/4C_mat_muscle_combo.hpp
  src/mat/4C_mat_plasticdruckerprager.hpp
  src/mat/4C_mat_plasticgtn.hpp
  src/mat/elast/4C_mat_elast_summand.hpp
  src/mixture/4C_mixture_constituent_full_constrained_mixture_fiber.cpp
  src/mixture/4C_mixture_prestress_strategy.cpp
  src/mixture/4C_mixture_rule.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_phasemanager.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

InputSpec for SymbolicExpression
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_spec_storage.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/utils/src/functions/4C_utils_symbolic_expression.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix include style pre-commit hook
  utilities/four_c_utils/src/four_c_utils/check_includes.py
Due: non-ascii-chars

Make Exporter work for unordered_map
  src/core/comm/src/4C_comm_exporter.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix missing version macros for Trilinos
  cmake/configure/configure_Trilinos.cmake
Due: non-ascii-chars

Exodus reader always checks for errors
  src/core/io/src/4C_io_exodus.cpp
  src/core/io/src/4C_io_exodus.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Extend InputField wiht reference to a registry
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/io/src/4C_io_input_field.cpp
  src/core/io/src/4C_io_input_field.hpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_field_test.cpp
  src/core/io/tests/4C_io_input_field_test.np2.cpp
  src/shell_kl_nurbs/src/4C_shell_kl_nurbs.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Provide callbacks in the Discretization
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/discretization/4C_fem_discretization_fillcomplete.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/utils/src/stl_extension/4C_utils_callbacks.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Set up globally defined fields in input
  apps/global_full/4C_global_full_io.cpp
  src/core/io/src/4C_io_input_field.hpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_field_test.cpp
  src/core/io/tests/4C_io_input_field_test.np2.cpp
  src/global_data/4C_global_data_read.cpp
  src/global_data/4C_global_data_read.hpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/mat/4C_mat_fourier.cpp
  src/mat/4C_mat_muscle_combo.cpp
  tests/input_files/thermo3D_annulus_elementwise_anisotropic_statics.4C.yaml
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Use Discretization dim for nodes
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/general/node/4C_fem_general_node.cpp
  src/core/fem/src/general/node/4C_fem_general_node.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/solid_3D_ele/4C_solid_3D_ele_nullspace.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix wrong coordinate dimensions contact/mortar
  src/contact/src/4C_contact_interface.cpp
  src/contact/src/4C_contact_meshtying_abstract_strategy.cpp
  src/core/fem/src/discretization/4C_fem_discretization_nullspace.cpp
  src/core/fem/src/discretization/4C_fem_discretization_partition.cpp
  src/mortar/src/4C_mortar_element.cpp
  src/mortar/src/4C_mortar_interface.cpp
  src/mortar/src/4C_mortar_node.cpp
  src/post/4C_post_ensight_writer.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_meshtying.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Element: node_range() returning range of NodeRef
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix geometric search node dimensions
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/geometric_search/src/4C_geometric_search_matchingoctree.cpp
  src/core/io/src/4C_io_element_append_visualization.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix explicit dimension 3
  src/art_net/4C_art_net_artery_ele_calc.cpp
  src/core/binstrategy/4C_binstrategy_utils.cpp
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/fem/src/discretization/4C_fem_discretization_partition.cpp
  src/core/fem/src/general/element/4C_fem_general_element_center.cpp
  src/core/fem/src/geometry/4C_fem_geometry_searchtree_service.cpp
  src/core/io/src/4C_io_element_append_visualization.hpp
  src/coupling/src/volmortar/4C_coupling_volmortar.cpp
  src/coupling/src/volmortar/4C_coupling_volmortar_integrator.cpp
  src/coupling/src/volmortar/4C_coupling_volmortar_shape.hpp
  src/fpsi/4C_fpsi_utils.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
  src/structure/4C_structure_timint.cpp
  tests/input_files/one_d_3_artery_network.4C.yaml
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

WIP: enable ASAN
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars
