Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename:
  name: C++ file names
  description: Check that all C++ files have the correct file name
  language: system
  entry: utilities/python-venv/bin/check-filenames
  require_serial: true

cpp-include:
  name: C++ includes
  description: Check that all C++ files have correct includes
  language: system
  entry: utilities/python-venv/bin/check-includes
  require_serial: true

cpp-header-guard:
  name: Header guards
  description: Check that all C++ files have the correct header guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Allow FAD-types in tensors
  src/core/linalg/src/dense/4C_linalg_symmetric_tensor.hpp
  src/core/linalg/src/dense/4C_linalg_tensor.hpp
  src/core/linalg/src/dense/4C_linalg_tensor_internals.hpp
  src/core/linalg/tests/4C_linalg_tensor_fad_test.cpp
  src/core/utils/src/numerics/4C_utils_fad_meta.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Convert multiscale .mat files to YAML
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_anode.mat
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_anode.mat.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_cathode.mat
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_cathode.mat.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte_partitioned_macrotomicro.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte_partitioned_macrotomicro_aitken.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte_partitioned_macrotomicro_aitken_dofsplit.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte_partitioned_microtomacro.4C.yaml
  tests/input_files/scatra_1D_line2_multiscale_constperm_macro.4C.yaml
  tests/input_files/scatra_1D_line2_multiscale_constperm_macro_partitioned_macrotomicro.4C.yaml
  tests/input_files/scatra_1D_line2_multiscale_constperm_macro_partitioned_microtomacro.4C.yaml
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro1.mat
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro1.mat.4C.yaml
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro2.mat
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro2.mat.4C.yaml
  tests/input_files/ssi_oneway_scatra_to_solid_3D_line2_elch_s2i_butlervolmer_multiscale.4C.yaml
  tests/input_files/ssi_oneway_scatra_to_solid_3D_line2_elch_s2i_butlervolmer_multiscale_cathode.mat
  tests/input_files/ssi_oneway_scatra_to_solid_3D_line2_elch_s2i_butlervolmer_multiscale_cathode.mat.4C.yaml
  tests/input_files/ssi_twoway_3D_1line2_elch_diffcond_multiscale.4C.yaml
  tests/input_files/ssi_twoway_3D_line2_elch_s2i_butlervolmer_multiscale.4C.yaml
  tests/input_files/ssi_twoway_3D_line2_elch_s2i_butlervolmer_multiscale_cathode.mat
  tests/input_files/ssi_twoway_3D_line2_elch_s2i_butlervolmer_multiscale_cathode.mat.4C.yaml
Due: non-ascii-chars

Remove dat file conversion from framework tests
  cmake/functions/four_c_testing_functions.cmake
  tests/list_of_tests.cmake
Due: non-ascii-chars

Make .dat input an error and force conversion
  apps/global_full/4C_global_full_control.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Quaternion interpolation with unit test
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.hpp
  src/core/linalg/src/dense/4C_linalg_utlis_quaternion_interpolation.cpp
  src/core/linalg/src/dense/4C_linalg_utlis_quaternion_interpolation.hpp
  src/core/linalg/tests/4C_linalg_utils_quaternion_interpolation_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Implement energy
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.hpp
  src/constraint_framework/4C_constraint_framework_model_evaluator.cpp
  src/constraint_framework/4C_constraint_framework_model_evaluator.hpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_base.hpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_embeddedmesh.cpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_embeddedmesh.hpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_mpc.cpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_mpc.hpp
  src/structure_new/src/4C_structure_new_enum_lists.hpp
  src/structure_new/src/4C_structure_new_timint_base.cpp
  tests/input_files/embeddedmesh_2d_hertzian_contact.yaml
  tests/input_files/ref/embeddedmesh_2d_hertzian_contact_energy.csv
  tests/list_of_tests.cmake
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Add heterogeneous material option
  src/core/io/tests/4C_io_input_field_test.cpp
  src/core/io/tests/test_files/input_field/conductivity_input_field.json
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_fourier.cpp
  src/mat/4C_mat_fourier.hpp
  src/mat/4C_mat_robinson.cpp
  src/mat/4C_mat_robinson.hpp
  src/mat/4C_mat_thermoplastichyperelast.cpp
  src/mat/4C_mat_thermoplastichyperelast.hpp
  src/mat/4C_mat_thermoplasticlinelast.cpp
  src/mat/4C_mat_thermoplasticlinelast.hpp
  src/mat/4C_mat_thermostvenantkirchhoff.cpp
  src/mat/4C_mat_thermostvenantkirchhoff.hpp
  src/mat/4C_mat_trait_thermo.hpp
  src/scatra_ele/4C_scatra_ele_calc_elch_diffcond_sti_thermo.cpp
  src/scatra_ele/4C_scatra_ele_calc_elch_electrode_sti_thermo.cpp
  src/scatra_ele/4C_scatra_ele_calc_sti_diffcond.cpp
  src/scatra_ele/4C_scatra_ele_calc_sti_diffcond.hpp
  src/scatra_ele/4C_scatra_ele_calc_sti_electrode.cpp
  src/scatra_ele/4C_scatra_ele_calc_sti_electrode.hpp
  src/scatra_ele/4C_scatra_ele_sti_thermo.cpp
  src/scatra_ele/4C_scatra_ele_sti_thermo.hpp
  src/solid_3D_ele/4C_solid_3D_ele_surface_traceestimate.cpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
  src/thermo/src/implicit/4C_thermo_timint.cpp
  src/thermo/src/implicit/4C_thermo_timint.hpp
  src/thermo/src/implicit/4C_thermo_timint_impl.cpp
  tests/input_files/conductivity_input_field.json
  tests/input_files/thermo3D_annulus_elementwise_anisotropic_statics.4C.yaml
  tests/list_of_tests.cmake
  unittests/mat/4C_fourier_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Further work on material vector
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/thermo/src/implicit/4C_thermo_timint_impl.cpp
  tests/input_files/tsi_geonln_lincompression_monolithic_singlemat.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Implement utility functions for tensor derivatives
  src/core/linalg/src/dense/4C_linalg_tensor_fad.hpp
  src/core/linalg/tests/4C_linalg_tensor_fad_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Disallow matching unnamed specs
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Add benchmark for InputSpec::match
  src/core/io/benchmarks/4C_io_input_benchmark.cpp
  src/core/io/benchmarks/CMakeLists.txt
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Add benchmark for SymbolicExpression
  src/core/utils/benchmark_tests/CMakeLists.txt
  src/core/utils/benchmark_tests/functions/4C_utils_symbolic_expression_benchmark.cpp
  src/core/utils/benchmark_tests/functions/CMakeLists.txt
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

SymbolicExpression: avoid micro allocations
  src/core/utils/src/functions/4C_utils_symbolic_expression.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Ensure SymbolicExpression can be copied/moved
  src/core/utils/src/functions/4C_utils_symbolic_expression.cpp
  src/core/utils/src/functions/4C_utils_symbolic_expression.hpp
  src/core/utils/tests/functions/4C_utils_symbolic_expression_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

SymbolicExpression: look up variables only once
  src/core/utils/src/functions/4C_utils_symbolic_expression.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

SymbolicExpression: avoid string comparisons
  src/core/utils/src/functions/4C_utils_symbolic_expression.cpp
  src/core/utils/tests/functions/4C_utils_symbolic_expression_test.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Add missing @endcode tag in input_field() doc
  src/core/io/src/4C_io_input_spec_builders.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Add more SymbolicExpression benchmarks
  src/core/utils/benchmark_tests/functions/4C_utils_symbolic_expression_benchmark.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

SymbolicExpression: compile to bytecode
  src/core/utils/src/functions/4C_utils_symbolic_expression.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Allow for beam-to-solid shell contact with KL shell
  src/beaminteraction/src/4C_beaminteraction_beam_to_solid_surface_contact_pair_base.cpp
  src/beaminteraction/src/4C_beaminteraction_beam_to_solid_surface_contact_pair_mortar.cpp
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_surface_contact_mortar_line2_gap_variation_reference_segmentation_penalty_lin_quad_kl_shell.4C.yaml
  tests/list_of_tests.cmake
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Add test to FOUR_C_WITH_ARBORX
  tests/list_of_tests.cmake
Due: non-ascii-chars

SymbolicExpression: accept key-val pairs as args
  src/core/utils/benchmark_tests/functions/4C_utils_symbolic_expression_benchmark.cpp
  src/core/utils/src/functions/4C_utils_function.cpp
  src/core/utils/src/functions/4C_utils_function_of_time.cpp
  src/core/utils/src/functions/4C_utils_functionvariables.cpp
  src/core/utils/src/functions/4C_utils_symbolic_expression.cpp
  src/core/utils/src/functions/4C_utils_symbolic_expression.hpp
  src/core/utils/src/functions/4C_utils_symbolic_expression_details.hpp
  src/core/utils/tests/functions/4C_utils_symbolic_expression_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Put all analysis_guide files to templates
  doc/documentation/CMakeLists.txt
  doc/documentation/conf.py.in
  doc/documentation/python/include_yaml.py
  doc/documentation/src/analysis_guide/analysisguide.rst
  doc/documentation/src/analysis_guide_templates/4Csimulation.rst
  doc/documentation/src/analysis_guide_templates/analysisguide.rst
  doc/documentation/src/analysis_guide_templates/boundaryconditions.rst.j2
  doc/documentation/src/analysis_guide_templates/elements.rst
  doc/documentation/src/analysis_guide_templates/elementsale.rst
  doc/documentation/src/analysis_guide_templates/elementsartery.rst
  doc/documentation/src/analysis_guide_templates/elementsfluid.rst
  doc/documentation/src/analysis_guide_templates/elementslubrication.rst
  doc/documentation/src/analysis_guide_templates/elementsreduceddairways.rst
  doc/documentation/src/analysis_guide_templates/elementsstructure.rst
  doc/documentation/src/analysis_guide_templates/elementsthermo.rst
  doc/documentation/src/analysis_guide_templates/elementstransport.rst
  doc/documentation/src/analysis_guide_templates/elementstransport2.rst
  doc/documentation/src/analysis_guide_templates/functions.rst.j2
  doc/documentation/src/analysis_guide_templates/geometrydefinition.rst.j2
  doc/documentation/src/analysis_guide_templates/linear_solvers.rst
  doc/documentation/src/analysis_guide_templates/postprocessing.rst
  doc/documentation/src/analysis_guide_templates/preprocessing.rst
  doc/documentation/src/analysis_guide_templates/problemtypes.rst
  doc/documentation/src/analysis_guide_templates/struct_dynamics.rst.j2
  doc/documentation/src/analysis_guide_templates/workflow.rst
  doc/documentation/src/index.rst
  doc/documentation/src/tutorial_templates/tutorial_introduction.rst
  doc/documentation/src/tutorial_templates/tutorials.rst
Due: non-ascii-chars

Quaternion interpolation
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.hpp
  src/core/linalg/src/dense/4C_linalg_utlis_quaternion_interpolation.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Add artery flow rate to function coupling
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.hpp
  tests/input_files/poromultielastscatra_2D_quad4_linebased_artery_coupling_mono.4C.yaml
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

SymbolicExpression with compile-time variables
  src/core/utils/benchmark_tests/functions/4C_utils_symbolic_expression_benchmark.cpp
  src/core/utils/src/functions/4C_utils_function.hpp
  src/core/utils/src/functions/4C_utils_functionvariables.cpp
  src/core/utils/src/functions/4C_utils_functionvariables.hpp
  src/core/utils/src/functions/4C_utils_symbolic_expression.cpp
  src/core/utils/src/functions/4C_utils_symbolic_expression.fwd.hpp
  src/core/utils/src/functions/4C_utils_symbolic_expression.hpp
  src/core/utils/src/functions/4C_utils_symbolic_expression_details.hpp
  src/core/utils/tests/functions/4C_utils_symbolic_expression_test.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

InputSpec: unify group and group_struct functions
  src/core/io/benchmarks/4C_io_input_benchmark.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_field_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/scatra/4C_scatra_functions.cpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Remove interpolation namespaces from Core::LinAlg
  src/core/linalg/src/dense/4C_linalg_utils_scalar_interpolation.cpp
  src/core/linalg/src/dense/4C_linalg_utils_scalar_interpolation.hpp
  src/core/linalg/src/dense/4C_linalg_utils_tensor_interpolation.cpp
  src/core/linalg/src/dense/4C_linalg_utils_tensor_interpolation.hpp
  src/core/linalg/src/dense/4C_linalg_utlis_quaternion_interpolation.cpp
  src/core/linalg/src/dense/4C_linalg_utlis_quaternion_interpolation.hpp
  src/core/linalg/tests/4C_linalg_utils_quaternion_interpolation_test.cpp
  src/core/linalg/tests/4C_linalg_utils_scalar_interpolation_test.cpp
  src/core/linalg/tests/4C_linalg_utils_tensor_interpolation_test.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Fix assertion in quaternion interpolation
  src/core/linalg/src/dense/4C_linalg_utlis_quaternion_interpolation.cpp
Due: cpp-filename, cpp-include, cpp-preprocessor, non-ascii-chars

Clang-tidy: enable check for reserved identifiers
  .clang-tidy
Due: non-ascii-chars

Remove illegal reserved identifiers
  src/art_net/4C_art_net_artery.hpp
  src/contact/4C_contact_coupling2d.cpp
  src/contact/4C_contact_coupling3d.cpp
  src/contact/4C_contact_integrator.cpp
  src/contact/4C_contact_interface_tools.cpp
  src/contact/4C_contact_interpolator.cpp
  src/contact/4C_contact_line_coupling.cpp
  src/contact/4C_contact_node.cpp
  src/contact/4C_contact_tsi_interface.cpp
  src/contact/4C_contact_wear_interface.cpp
  src/fluid_ele/4C_fluid_ele_calc_poro.cpp
  src/mat/4C_mat_plasticgtn.cpp
  src/mortar/4C_mortar_element_shapefct.cpp
  src/mortar/4C_mortar_projector.cpp
  src/xfem/4C_xfem_condition_manager.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

CMake: build shared libraries by default
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Some small improvements to tensor
  src/core/linalg/src/dense/4C_linalg_tensor_internals.hpp
  src/core/linalg/src/dense/4C_linalg_tensor_matrix_conversion.hpp
Due: cpp-filename, cpp-include, cpp-header-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-filename: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$|dummy.cpp
  cpp-include: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-header-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
